h1 {
  background-color: red;
  color: #ffffff;

}

.big { font-size: large; }
.small { font-size: x-small; }
.conborde { border: thin solid black; }
.sinborde {  }

.bgazul { background-color: blue;}
